* {
  padding: 0;
  margin: 0;
}


/* Navigation Bar */
header,
footer {
    width: 100%;
    height: 60px;
    background-color:  #ff8c8c ;
    color: white;
    text-align: right;
}

/* List items in navigation bar */
li {
  /* Sets display to inline */
  /* Added padding to separate navbar contents */
  /* Increased font size */
  display: inline;
  padding: 15px;
  font-size: 25px;
}


/* Main Section */
/* Create main section class */
.mainSection {
  background-color: #d2d2d2;
  text-align: center;
}

/* Adjust main section fonts*/
h1,
h2 {
  font-size: 40px;
}

/* Adjust main section image */
img {
  max-width: 30%;
  max-height: 30%;
  margin: 20px;
  border: 10px solid #ff8c8c;
  }

/* More image displaying */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contactInfo {
  background-color: #cfffed ;
  text-align: center;
  margin: auto;
}

div {
  max-width: 30%;
  max-height: 30%;
  margin: auto;
  border: 5px solid #23ffac;
}

h3 {
margin: 10px;
}
